<div class="about">
  <div class="inner-about"> 
    <div class="inner-inner-about">
<h3>
  About
</h3>
<div class="outer-about"> 
<div class="about-details">
 <p style="font-size: large;"> Enter your Steam PUBG and search. </p>

 <p>  Find a seasonal overview of Combat and Survival related stats from the official PUBG API. Currently only supported for Steam until next release. </p>

 <p> Version 1 of a project I want to make much larger. Weapon Mastery stats is currently under development as well as individual Last Match reports.  </p>
</div>
</div>
</div>
</div>
</div>
