<h1 style="padding-bottom: 20px;"> Combat Survival Stats </h1>


 
<div class="title-info-container">   
<h3> {{ player?.data[0].attributes?.name  }}  </h3>  <span class="select-season"> (TPP/FPP)   Current Season▼ </span> </div>

<!-- Bye bye for now season rank points 
<div class="season-rank"> <span>Rank Points: {{ player?.data?.attributes?.bestRankPoint | json }} </span>  </div> -->
    
<!----
<form  action="/players" method="get">
    <input id="name" type="text" name="filter[playerNames]">
    <button type="submit" onClick="inputValue">Search User</button>
  </form> -->




<div>  <app-combat-list> </app-combat-list></div>




