.title-info-container{
    display:inline-flex;
    width: 440px;
    justify-content: space-between;
}

.select-season{
    align-self: center;
}

.season-rank {
    height: 61px;
}

.season-rank-title { 
    color: #ffffff;
}

.player-name {
    color: #ffffff;
}

.platform {
    display: flex;
    align-items: center; 
}

.sub-nav {
    background-color: #000000;
    top: 100%;
    position: absolute;
    display: none;
    opacity: 1;
    padding-right: 13px;
    z-index: 10;
   
}

.sub-item {
    text-decoration: none;
    padding: 5px 29px 0px 0px;
}