
<div class="stats-header"> 
 
<div class="title-info-container">  <span class="platform" *ngIf="player?.data[0].attributes?.shardId">{{player?.data[0].attributes?.shardId}}  </span> 
<h3 class="player-name"> {{ player?.data[0].attributes?.name  }}  </h3> 

 <span class="select-season"> <ul class="sub-nav">  <!--Projects sub nav-->
  <li class="sub-item"> <a target="_blank" href="#">Previous Season</a>  </li>

  </ul>
  </span> </div>

<div class="season-rank-title"> <span>Rank Points: {{ playa?.data?.attributes?.bestRankPoint | json }} </span>  </div>

    
<!----
<form  action="/players" method="get">
    <input id="name" type="text" name="filter[playerNames]">
    <button type="submit" onClick="inputValue">Search User</button>
  </form> -->

</div>



<div>  <app-combat-list> </app-combat-list></div>
<!-- <div class="footer"> </div> -->
 


