
<div class="stats-header"> 

 
    <div class="title-info-container">  <span class="platform" *ngIf="playa">{{ playa?.data && playa?.data[0].attributes?.shardId}}  </span> 

      <!--Testing error message-->
      <div> 
      <span class="error" *ngIf="error">{{ error?.errors && error?.errors[0].detail }}  </span> </div>


     
      
    <h3 class="player-name"> {{ playa?.data && playa.data[0]?.attributes?.name  }}  </h3> 
    

    
      <mat-form-field>   
          <mat-select class="panelClass" [(value)]="selected">
              
            <mat-option value="option1"(click)="seasonFiveSwitch()">Current Season</mat-option>
            <mat-option value="option2"(click)="seasonFourSwitch()">Season 4 </mat-option>
             
          </mat-select>
        </mat-form-field> <br>



      
      </div>
      

      <div class="outer-season-name">     
     
          <div>  
            
            
              <div class="outer-div" style="display:flex"> 
                  <div class="inner-div"> 
                      <span *ngIf="player?.data?.relationships?.season?.data?.id == 'division.bro.official.pc-2018-05'; else"> <p class="seasonNumber" style="margin-top:8px;"> Season 5 </p> </span> 
            
                      <div> 
                          <span *ngIf="player?.data?.relationships?.season?.data?.id == 'division.bro.official.pc-2018-04'; else"> <p class="seasonNumber" style="margin: 8px;"> Last Season </p> </span> </div>
                    
                    </div> 
                  
            
                  
                  </div> 
          
          
        
          </div>   
          </div>

    
     
    
    <!---- Maybe have best overrall rank point here?? hmmm
    <div class="season-rank-title-wrapper">
    <div class="season-rank-title"> 
      <span *ngIf="player?.data?.attributes?.bestRankPoint > 1 && player?.data?.attributes?.bestRankPoint < 1400" class="bronze-rank"> <img class="rank-img" src="../../../assets/pubg_bronze.jpg" width="30" height="30"> {{ player?.data?.attributes?.bestRankPoint | json}} / 1400   </span>   
    
      silver medal
      <span *ngIf="player?.data?.attributes?.bestRankPoint > 1399 && player?.data?.attributes?.bestRankPoint < 1500" class="bronze-rank"> <img class="rank-img" src="../../../assets/pubg_bronze.jpg" width="30" height="30"> {{ player?.data?.attributes?.bestRankPoint | json}} / 1500  </span>  



    </div>
    </div>
    -->
    
  

    
    
    
    <div>  <app-combat-list [player]="player"> </app-combat-list></div>
    <!-- <div class="footer"> </div> -->
     
    
    
    