
.table-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-left: 67px;
    padding-right: 33px;
    padding-top: 9px;
}

.inner-table-wrapper {
    display: flex;
    width: 87%; 
    justify-content: space-evenly;
} 

.top-wrapper {

    margin-top: 1px;
}
 
.table {
   /*
    border-collapse: collapse;
    width: 812px;
    height: 74px;  */

    width: 337px;
    height: 43px; 
    white-space: nowrap; 
    max-width: 100%;
   /* border-collapse: collapse; */
   border-radius: 11px;
   background: #2a2b2d;
   color: #9e9e9e; 
   padding: 5px;
   border-spacing: 2px;
}



td {
    width: auto;
   /*border-bottom: 1px solid;*/
    padding-top:7px;
    padding-bottom: 7px;
    color: #ffffff;
    border: none;
    padding: 12px;
    font-size: 13px; 
}


/*
.top-wrapper{

    ** something that positions the combat component more
} */

.season-rank-title {
    height: 39px; 
}

.mat-tab-labels {
    display: flex;
    justify-content: center;
}

.mat-tab-label {
    border-right: 1px solid rgba(0,0,0,1.1); 
    color: #ffffff;
}

mat-tab-content-0-0 {
    top: 16px!important;
}

 .mat-tab-label-active {

    background: linear-gradient(rgba(255 255 255) 0 7%, #333 87%, #eee 100%, #000); 
    /*linear-gradient(#000 18%, #333 82%, #eee 100%, #000 ); */   
 }

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {

    background-color: #ffffff;
    color:#9e9e9e;


}

.mat-tab-body-wrapper {
    background: #17181a;
    padding-top: 31px;
}

th {
    color: #ffffff;
    padding: 13px; 
    border-right: none;
    background: linear-gradient(rgba(255 255 255) 0 0%, #333 97%, #eee 102%, #000);
}

.td-title {
    color: #9e9e9e;
}

.mat-tab-header {
    background: #252729;
}