
.table-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-left: 67px;
    padding-right: 33px;
    padding-top: 9px;
}

.top-wrapper {
    margin-top: 1px;
}
 
.table {
   /*
    border-collapse: collapse;
    width: 812px;
    height: 74px;  */

    width: 337px;
    height: 43px; 
    white-space: nowrap; 
    max-width: 100%;
   /* border-collapse: collapse; */
   border-radius: 11px;
}


.table2 {
    margin-left: -44px;
}

td{
    width: auto;
    border-bottom: 1px solid;
    padding-top:7px;
    padding-bottom: 7px;
}


/*
.top-wrapper{

    ** something that positions the combat component more
} */

.season-rank-title {
    height: 39px; 
}

mat-tab-content-0-0 {
    top: 16px!important;
}