
<!---- Delete or not delete yet? Can I make the below code better?
<div *ngFor="let key of objectKeys(lifeTimeStats$)">  {{ lifeTimeStats$[key].attributes.gameModeStats.solo | json}}  </div> <br> -->



  <!---Use possible <div *ngIf="current"> instead of the ???  ? -->


        <div class="season-rank-title"> <span>Rank Points on Combat List Component: {{ player?.data?.attributes?.bestRankPoint | json }} </span>  </div>

        <div style="height: 25px;"><div>  <!---Find Player by string name-->
          <input name="searchBox"
          [(ngModel)]="searchString"
          placeholder="search user"
          >
          <button (click)="search()"> Click or don't </button>  
      </div></div>

        <div class="top-wrapper">   
        <mat-tab-group animationDuration="0ms" dynamicHeight="true">
        <mat-tab label="Solo TPP">
         <div class="table-wrapper"> 
          
        <table class="table" border="2">
                <tbody>
                    <tr>
                        <th colspan="2"> Combat </th>
                    </tr>
                <tr>
                <td style="width: 122px;">&nbsp;Total Kills: {{ player?.data?.attributes?.gameModeStats?.solo?.kills | json }} </td>
                <td style="width: 133px;">&nbsp;Weekly Kills: {{ player?.data?.attributes?.gameModeStats?.solo?.weeklyKills | json }}</td>
                </tr>
                <tr>
                <td style="width: 122px;">&nbsp;Last Match Kills: </td>
                <td style="width: 133px;">&nbsp; Road Kills:    </td>
                </tr>
                <tr>
                  <td style="width: 122px;">&nbsp;Headshots: </td>
                    <td style="width: 133px;">&nbsp;Assists: </td>
                    </tr>
                    <tr>
                    <td style="width: 122px;">&nbsp;dBNOS: </td>
                    <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                    </tr>
                    <tr>
                     <td style="width: 122px;">&nbsp;Vehicles destroyed: </td>
                     <td style="width: 133px;">&nbsp; Farthest Kill?  </td>
                     </tr>
                     <tr>
                     <td style="width: 122px;">&nbsp;Max Kill Streaks: </td>
                     <td style="width: 133px;">&nbsp; Total Damage Dealt </td>
                     </tr>
                     <tr>
                      <td style="width: 122px;">&nbsp; Longest Kill? </td>
                      <td style="width: 133px;">&nbsp; Most Kills in Match </td>
                     </tr>
                </tbody>
                </table> <!---*********---First Table End----->


              <table class="table2 table" border="2">
                <tbody>
                    <tr>
                        <th colspan="2"> Survival </th>
                    </tr>
                <tr>
                <td style="width: 122px;">&nbsp;Wins</td>
                <td style="width: 133px;">&nbsp; Top 10s </td>
                </tr>
                <tr>
                <td style="width: 122px;">&nbsp; Games Played  </td>
                <td style="width: 133px;">&nbsp;  Losses   </td>
                </tr>
                <tr>
                  <td style="width: 122px;">&nbsp; Amount of time played     </td>
                    <td style="width: 133px;">&nbsp; Longest Survival Time     </td>
                    </tr>
                    <tr>
                    <td style="width: 122px;">&nbsp;  Team Revives: </td>
                    <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                    </tr>
                    <tr>
                     <td style="width: 122px;">&nbsp; Survival Time  </td>
                     <td style="width: 133px;">&nbsp; Weapons Acquired  </td>
                     </tr>
                     <tr>
                     <td style="width: 122px;">&nbsp;Distance Travelled in Vehicle </td>
                     <td style="width: 133px;">&nbsp; Distance Travelled Swimming  </td>
                     </tr>
                     <tr>
                      <td style="width: 122px;">&nbsp;Drugs used </td>
                      <td style="width: 133px;">&nbsp; Healing items used   </td>
                     </tr>
                </tbody>
                </table>

             </div>
            </mat-tab> <!---END OF FIRST TAB SOLO TPP-->
          </mat-tab-group> 
             </div>
             
             
                
                 





                
                