
<!---- Delete or not delete yet? Can I make the below code better?
<div *ngFor="let key of objectKeys(lifeTimeStats$)">  {{ lifeTimeStats$[key].attributes.gameModeStats.solo | json}}  </div> <br> -->



  <!---Use possible <div *ngIf="current"> instead of the ???  ? -->


       <div class="test" style="height: 13px;">  <!--<div> --> 
           

        <div class="top-wrapper">
        <mat-tab-group animationDuration="0ms" dynamicHeight="true">
        <mat-tab class=".mat-tab-label-active" label="Solo TPP">
         <div class="table-wrapper">
       <div class="inner-table-wrapper"> 

          <div class="seasons-stats" *ngIf="player?.data?.attributes?.bestRankPoint > 1 && player?.data?.attributes?.bestRankPoint < 1400">
           <span>
            <h3>Rank</h3> 
           <img class="rank-img" src="../../assets/Rank_Icon_01_bronze.png" width="146px">
          <div> {{player?.data?.attributes?.bestRankPoint | json}} / 1500 </div>  </span> 
         </div>

               <!--** Silver** -->
         <div class="seasons-stats" *ngIf="player?.data?.attributes?.bestRankPoint > 1400 && player?.data?.attributes?.bestRankPoint < 1500">
          <span>
           <h3>Rank</h3> 
          <img class="rank-img" src="../../assets/Rank_silver.png" width="146px">
         <div> {{player?.data?.attributes?.bestRankPoint | json}} / whateva </div>  </span> 
        </div>


        <table class="table" border="2">
                <tbody>
                    <tr>
                        <th colspan="2"> Combat </th>
                    </tr>
                    
                <tr>
                 
                <td style="width: 122px;">&nbsp;<span class="td-title">Total Kills:</span>  {{ player?.data?.attributes?.gameModeStats?.solo?.kills | json }} </td>
                <td style="width: 133px;">&nbsp;<span class="td-title">Weekly Kills:</span> {{ player?.data?.attributes?.gameModeStats?.solo?.weeklyKills | json }}</td>
                </tr>
                <tr>
                <td style="width: 122px;">&nbsp;<span class="td-title"> Last Match Kills:</span> {{ player?.data?.attributes?.gameModeStats?.solo?.dailyKills | json }}       </td>
                <td style="width: 133px;">&nbsp;<span class="td-title"> Road Kills:  </span> {{ player?.data?.attributes?.gameModeStats?.solo?.roadKills | json }}    </td>
                </tr>
                <tr>
                  <td style="width: 122px;">&nbsp;<span class="td-title">   Headshots:</span>{{ player?.data?.attributes?.gameModeStats?.solo?.headshotKills | json }}     </td>
                    <td style="width: 133px;">&nbsp;<span class="td-title">    Assists:</span>{{ player?.data?.attributes?.gameModeStats?.solo?.assists | json }}     </td>
                    </tr>
                    <tr>
                    <td style="width: 122px;">&nbsp;<span class="td-title">    dBNOS:</span>{{ player?.data?.attributes?.gameModeStats?.solo?.dBNOs | json }}     </td>
                    <td style="width: 133px;">&nbsp;<span class="td-title">    Friendly Fire Kills:</span>{{ player?.data?.attributes?.gameModeStats?.solo?.teamKills | json }}   </td>
                    </tr>
                    <tr>
                     <td style="width: 122px;">&nbsp;<span class="td-title">    Vehicles destroyed: </span></td>
                     <td style="width: 133px;">&nbsp;<span class="td-title"> Farthest Kill?  </span></td>
                     </tr>
                     <tr>
                     <td style="width: 122px;">&nbsp;<span class="td-title">Max Kill Streaks: </span></td>
                     <td style="width: 133px;">&nbsp;<span class="td-title"> Total Damage Dealt </span></td>
                     </tr>
                     <tr>
                      <td style="width: 122px;">&nbsp;<span class="td-title"> Longest Kill? </span></td>
                      <td style="width: 133px;">&nbsp;<span class="td-title"> Most Kills in Match </span></td>
                     </tr>
                </tbody>
                </table> <!---*********---First Table End / Solo TPP Combat----->


              <table class="table" border="2">
                <tbody>
                    <tr>
                        <th colspan="2"> Survival </th>
                    </tr>
                <tr>
                <td style="width: 122px;">&nbsp; <span class="td-title"> Wins  </span></td>
                <td style="width: 133px;">&nbsp; <span class="td-title"> Top 10s   </span></td>
                </tr>
                <tr>
                <td style="width: 122px;">&nbsp;<span class="td-title"> Games Played  </span></td>
                <td style="width: 133px;">&nbsp;<span class="td-title">  Losses   </span></td>
                </tr>
                <tr>
                  <td style="width: 122px;">&nbsp;<span class="td-title"> Amount of time played    </span> </td>
                    <td style="width: 133px;">&nbsp;<span class="td-title"> Longest Survival Time   </span></td>
                    </tr>
                    <tr>
                    <td style="width: 122px;">&nbsp;<span class="td-title">  Team Revives: </span></td>
                    <td style="width: 133px;">&nbsp;<span class="td-title">Friendly Fire Kills:  </span></td>
                    </tr>
                    <tr>
                     <td style="width: 122px;">&nbsp;<span class="td-title"> Survival Time   </span></td>
                     <td style="width: 133px;">&nbsp;<span class="td-title"> Weapons Acquired  </span> </td>
                     </tr>
                     <tr>
                     <td style="width: 122px;">&nbsp;<span class="td-title">Distance Travelled in Vehicle </span></td>
                     <td style="width: 133px;">&nbsp;<span class="td-title"> Distance Travelled Swimming  </span></td>
                     </tr>
                     <tr>
                      <td style="width: 122px;">&nbsp;<span class="td-title">Drugs used </span></td>
                      <td style="width: 133px;">&nbsp;<span class="td-title"> Healing items used  </span> </td>
                     </tr>
                </tbody>
                </table>
          </div> 
          </div> 

            </mat-tab> <!---***----*  END OF FIRST TAB SOLO TPP *----**-->
 


            <!------- Solo FPP Combat ------>

            <mat-tab label="Solo FPP">
            <div class="table-wrapper">
            <div class="inner-table-wrapper"> 


            <table class="table" border="2">
            <tbody>
            <tr>
            <th colspan="2"> Combat </th>
              </tr>
              <tr>
              <td style="width: 122px;">&nbsp;<span class="td-title">Total Kills:</span> {{ player?.data?.attributes?.gameModeStats["solo-fpp"].kills | json }} </td>
              <td style="width: 133px;">&nbsp;<span class="td-title">Weekly Kills:</span> {{ player?.data?.attributes?.gameModeStats["solo-fpp"].weeklyKills | json }}</td>
              </tr>
               <tr>
              <td style="width: 122px;">&nbsp;<span class="td-title">Last Match Kills:   </span></td>
              <td style="width: 133px;">&nbsp;<span class="td-title"> Road Kills:    </span></td>
              </tr>
               <tr>
              <td style="width: 122px;">&nbsp;<span class="td-title"> Headshots:   </span></td>
              <td style="width: 133px;">&nbsp;<span class="td-title"> Assists:  </span></td>
              </tr>
              <tr>
              <td style="width: 122px;">&nbsp;<span class="td-title">dBNOS:   </span></td>
              <td style="width: 133px;">&nbsp;<span class="td-title">Friendly Fire Kills: </span></td>
              </tr>
              <tr>
              <td style="width: 122px;">&nbsp;<span class="td-title">Vehicles destroyed:  </span></td>
              <td style="width: 133px;">&nbsp;<span class="td-title"> Farthest Kill:  </span> </td>
              </tr>
              <tr>
              <td style="width: 122px;">&nbsp;<span class="td-title">Max Kill Streaks:  </span></td>
              <td style="width: 133px;">&nbsp;<span class="td-title"> Total Damage Dealt  </span></td>
              </tr>
              <tr>
              <td style="width: 122px;">&nbsp;<span class="td-title"> Longest Kill?    </span></td>
              <td style="width: 133px;">&nbsp;<span class="td-title"> Most Kills in Match   </span></td>
              </tr>
              </tbody>
              </table> <!---*********---First Table End----->
                         <!--Solo FPP Survival-->

                          <table class="table" border="2">
                            <tbody>
                                <tr>
                                    <th colspan="2"> Survival </th>
                                </tr>
                            <tr>
                            <td style="width: 122px;">&nbsp;<span class="td-title">Wins  </span></td>
                            <td style="width: 133px;">&nbsp;<span class="td-title"> Top 10s   </span></td>
                            </tr>
                            <tr>
                            <td style="width: 122px;">&nbsp;<span class="td-title"> Games Played  </span></td>
                            <td style="width: 133px;">&nbsp;<span class="td-title">  Losses   </span></td>
                            </tr>
                            <tr>
                              <td style="width: 122px;">&nbsp;<span class="td-title"> Amount of time played    </span></td>  
                                <td style="width: 133px;">&nbsp;<span class="td-title"> Longest Survival Time    </span></td>
                                </tr>
                                <tr>
                                <td style="width: 122px;">&nbsp;<span class="td-title">  Team Revives:   </span></td>
                                <td style="width: 133px;">&nbsp;<span class="td-title">Friendly Fire Kills:   </span></td>
                                </tr>
                                <tr>
                                 <td style="width: 122px;">&nbsp;<span class="td-title"> Survival Time  </span></td>
                                 <td style="width: 133px;">&nbsp;<span class="td-title"> Weapons Acquired   </span></td>
                                 </tr>
                                 <tr>
                                 <td style="width: 122px;">&nbsp;<span class="td-title">Distance Travelled in Vehicle    </span></td>
                                 <td style="width: 133px;">&nbsp;<span class="td-title"> Distance Travelled Swimming    </span></td>
                                 </tr>
                                 <tr>
                                  <td style="width: 122px;">&nbsp;<span class="td-title">Drugs used    </span></td>
                                  <td style="width: 133px;">&nbsp;<span class="td-title"> Healing items used   </span></td>
                                 </tr>
                            </tbody>
                            </table>

                        </div>
                        </div>
                      </mat-tab>

          <!------------*** Duo third person start ***----------->

                      <mat-tab label="Duo TPP">
                          <div class="table-wrapper">
                          <div class="inner-table-wrapper"> 
                          <table class="table" border="2">
                          <tbody>
                          <tr>
                          <th colspan="2"> Combat </th>
                            </tr>
                            <tr>
                            <td style="width: 122px;">&nbsp;<span class="td-title"> Total Kills fucka:</span> {{ player?.data?.attributes?.gameModeStats.duo?.kills | json }} </td>
                            <td style="width: 133px;">&nbsp; <span class="td-title"> Weekly Kills:</span> {{ player?.data?.attributes?.gameModeStats.duo?.weeklyKills | json }}</td>
                            </tr>
                             <tr>
                            <td style="width: 122px;">&nbsp;Last Match Kills: </td>
                            <td style="width: 133px;">&nbsp; Road Kills:    </td>
                            </tr>
                             <tr>
                            <td style="width: 122px;">&nbsp;Headshots: </td>
                            <td style="width: 133px;">&nbsp;Assists: </td>
                            </tr>
                            <tr>
                            <td style="width: 122px;">&nbsp;dBNOS: </td>
                            <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                            </tr>
                            <tr>
                            <td style="width: 122px;">&nbsp;Vehicles destroyed: </td>
                            <td style="width: 133px;">&nbsp; Farthest Kill?  </td>
                            </tr>
                            <tr>
                            <td style="width: 122px;">&nbsp;Max Kill Streaks: </td>
                            <td style="width: 133px;">&nbsp; Total Damage Dealt </td>
                            </tr>
                            <tr>
                            <td style="width: 122px;">&nbsp; Longest Kill? </td>
                            <td style="width: 133px;">&nbsp; Most Kills in Match </td>
                            </tr>
                            </tbody>
                            </table> <!---*********---First Table End----->
                                       <!--Duo TPP Survival-->

                                        <table class="table" border="2">
                                          <tbody>
                                              <tr>
                                                  <th colspan="2"> Survival </th>
                                              </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp;Wins</td>
                                          <td style="width: 133px;">&nbsp; Top 10s </td>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp; Games Played  </td>
                                          <td style="width: 133px;">&nbsp;  Losses   </td>
                                          </tr>
                                          <tr>
                                            <td style="width: 122px;">&nbsp; Amount of time played     </td>
                                              <td style="width: 133px;">&nbsp; Longest Survival Time     </td>
                                              </tr>
                                              <tr>
                                              <td style="width: 122px;">&nbsp;  Team Revives: </td>
                                              <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                                              </tr>
                                              <tr>
                                               <td style="width: 122px;">&nbsp; Survival Time  </td>
                                               <td style="width: 133px;">&nbsp; Weapons Acquired  </td>
                                               </tr>
                                               <tr>
                                               <td style="width: 122px;">&nbsp;Distance Travelled in Vehicle </td>
                                               <td style="width: 133px;">&nbsp; Distance Travelled Swimming  </td>
                                               </tr>
                                               <tr>
                                                <td style="width: 122px;">&nbsp;Drugs used </td>
                                                <td style="width: 133px;">&nbsp; Healing items used   </td>
                                               </tr>
                                          </tbody>
                                          </table>

                                      </div>
                                      </div>
                                    </mat-tab>


                                  <!-- Tab for Duo FPP -->
                                    <mat-tab label="Duo FPP">
                                        <div class="table-wrapper">
                                        <div class="inner-table-wrapper">   
                                        <table class="table" border="2">
                                        <tbody>
                                        <tr>
                                        <th colspan="2"> Combat </th>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp;<span class="td-title"> Total Kills: </span> {{ player?.data?.attributes?.gameModeStats["duo-fpp"].kills | json }} </td>
                                          <td style="width: 133px;">&nbsp;<span class="td-title"> Weekly Kills:</span> {{ player?.data?.attributes?.gameModeStats["duo-fpp"].weeklyKills | json }}</td>
                                          </tr>
                                           <tr>
                                          <td style="width: 122px;">&nbsp;Last Match Kills: </td>
                                          <td style="width: 133px;">&nbsp; Road Kills:    </td>
                                          </tr>
                                           <tr>
                                          <td style="width: 122px;">&nbsp;Headshots: </td>
                                          <td style="width: 133px;">&nbsp;Assists: </td>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp;dBNOS: </td>
                                          <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp;Vehicles destroyed: </td>
                                          <td style="width: 133px;">&nbsp; Farthest Kill?  </td>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp;Max Kill Streaks: </td>
                                          <td style="width: 133px;">&nbsp; Total Damage Dealt </td>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp; Longest Kill? </td>
                                          <td style="width: 133px;">&nbsp; Most Kills in Match </td>
                                          </tr>
                                          </tbody>
                                          </table> <!---*********---First Table End----->
                                                     <!--- Duo FPP Survival --->

                                                      <table class="table" border="2">
                                                        <tbody>
                                                            <tr>
                                                                <th colspan="2"> Survival </th>
                                                            </tr>
                                                        <tr>
                                                        <td style="width: 122px;">&nbsp;Wins</td>
                                                        <td style="width: 133px;">&nbsp; Top 10s </td>
                                                        </tr>
                                                        <tr>
                                                        <td style="width: 122px;">&nbsp; Games Played  </td>
                                                        <td style="width: 133px;">&nbsp;  Losses   </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="width: 122px;">&nbsp; Amount of time played     </td>
                                                            <td style="width: 133px;">&nbsp; Longest Survival Time     </td>
                                                            </tr>
                                                            <tr>
                                                            <td style="width: 122px;">&nbsp;  Team Revives: </td>
                                                            <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                                                            </tr>
                                                            <tr>
                                                             <td style="width: 122px;">&nbsp; Survival Time  </td>
                                                             <td style="width: 133px;">&nbsp; Weapons Acquired  </td>
                                                             </tr>
                                                             <tr>
                                                             <td style="width: 122px;">&nbsp;Distance Travelled in Vehicle </td>
                                                             <td style="width: 133px;">&nbsp; Distance Travelled Swimming  </td>
                                                             </tr>
                                                             <tr>
                                                              <td style="width: 122px;">&nbsp;Drugs used </td>
                                                              <td style="width: 133px;">&nbsp; Healing items used   </td>
                                                             </tr>
                                                        </tbody>
                                                        </table>

                                                    </div>
                                                    </div>
                                                  </mat-tab>

     

                                       <!--Squad TPP-->

  <mat-tab label="Squad TPP">
                                        <div class="table-wrapper">
                                        <div class="inner-table-wrapper"> 
                                        <table class="table" border="2">
                                        <tbody>
                                        <tr>
                                        <th colspan="2"> Combat </th>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp;<span class="td-title"> Total Kills fucka: </span> {{ player?.data?.attributes?.gameModeStats.squad?.kills | json }} </td>
                                          <td style="width: 133px;">&nbsp;<span class="td-title"> Weekly Kills:</span> {{ player?.data?.attributes?.gameModeStats.squad?.weeklyKills | json }}</td>
                                          </tr>
                                           <tr>
                                          <td style="width: 122px;">&nbsp;Last Match Kills: </td>
                                          <td style="width: 133px;">&nbsp; Road Kills:    </td>
                                          </tr>
                                           <tr>
                                          <td style="width: 122px;">&nbsp;Headshots: </td>
                                          <td style="width: 133px;">&nbsp;Assists: </td>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp;dBNOS: </td>
                                          <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp;Vehicles destroyed: </td>
                                          <td style="width: 133px;">&nbsp; Farthest Kill?  </td>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp;Max Kill Streaks: </td>
                                          <td style="width: 133px;">&nbsp; Total Damage Dealt </td>
                                          </tr>
                                          <tr>
                                          <td style="width: 122px;">&nbsp; Longest Kill? </td>
                                          <td style="width: 133px;">&nbsp; Most Kills in Match </td>
                                          </tr>
                                          </tbody>
                                          </table> <!---*********---First Table End----->
                                                     <!--- Duo FPP Survival --->

                                                      <table class="table" border="2">
                                                        <tbody>
                                                            <tr>
                                                                <th colspan="2"> Survival </th>
                                                            </tr>
                                                        <tr>
                                                        <td style="width: 122px;">&nbsp;Wins</td>
                                                        <td style="width: 133px;">&nbsp; Top 10s </td>
                                                        </tr>
                                                        <tr>
                                                        <td style="width: 122px;">&nbsp; Games Played  </td>
                                                        <td style="width: 133px;">&nbsp;  Losses   </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="width: 122px;">&nbsp; Amount of time played     </td>
                                                            <td style="width: 133px;">&nbsp; Longest Survival Time     </td>
                                                            </tr>
                                                            <tr>
                                                            <td style="width: 122px;">&nbsp;  Team Revives: </td>
                                                            <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                                                            </tr>
                                                            <tr>
                                                             <td style="width: 122px;">&nbsp; Survival Time  </td>
                                                             <td style="width: 133px;">&nbsp; Weapons Acquired  </td>
                                                             </tr>
                                                             <tr>
                                                             <td style="width: 122px;">&nbsp;Distance Travelled in Vehicle </td>
                                                             <td style="width: 133px;">&nbsp; Distance Travelled Swimming  </td>
                                                             </tr>
                                                             <tr>
                                                              <td style="width: 122px;">&nbsp;Drugs used </td>
                                                              <td style="width: 133px;">&nbsp; Healing items used   </td>
                                                             </tr>
                                                        </tbody>
                                                        </table>

                                                    </div>
                                                    </div>
                                                  </mat-tab>
                                          
                                                  <!---* Squadzzzz -*-->      

                                                  <mat-tab label="Squad FPP">
                                                      <div class="table-wrapper">
                                                      <div class="inner-table-wrapper">  
                                                      <table class="table" border="2">
                                                      <tbody>
                                                      <tr>
                                                      <th colspan="2"> Combat </th>
                                                        </tr>
                                                        <tr>
                                                        <td style="width: 122px;">&nbsp;<span class="td-title"> Total Kills fucka:</span> {{ player?.data?.attributes?.gameModeStats.squad?.kills | json }} </td>
                                                        <td style="width: 133px;">&nbsp;<span class="td-title">  Weekly Kills:</span> {{ player?.data?.attributes?.gameModeStats.squad?.weeklyKills | json }}</td>
                                                        </tr>
                                                         <tr>
                                                        <td style="width: 122px;">&nbsp;Last Match Kills: </td>
                                                        <td style="width: 133px;">&nbsp; Road Kills:    </td>
                                                        </tr>
                                                         <tr>
                                                        <td style="width: 122px;">&nbsp;Headshots: </td>
                                                        <td style="width: 133px;">&nbsp;Assists: </td>
                                                        </tr>
                                                        <tr>
                                                        <td style="width: 122px;">&nbsp;dBNOS: </td>
                                                        <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                                                        </tr>
                                                        <tr>
                                                        <td style="width: 122px;">&nbsp;Vehicles destroyed: </td>
                                                        <td style="width: 133px;">&nbsp; Farthest Kill?  </td>
                                                        </tr>
                                                        <tr>
                                                        <td style="width: 122px;">&nbsp;Max Kill Streaks: </td>
                                                        <td style="width: 133px;">&nbsp; Total Damage Dealt </td>
                                                        </tr>
                                                        <tr>
                                                        <td style="width: 122px;">&nbsp; Longest Kill? </td>
                                                        <td style="width: 133px;">&nbsp; Most Kills in Match </td>
                                                        </tr>
                                                        </tbody>
                                                        </table> <!---*********---First Table End----->
                                                                   <!--- Squad TPP Survival --->
                                                                   <table class="table" border="2">
                                                                      <tbody>
                                                                          <tr>
                                                                              <th colspan="2"> Survival </th>
                                                                          </tr>
                                                                      <tr>
                                                                      <td style="width: 122px;">&nbsp;Wins</td>
                                                                      <td style="width: 133px;">&nbsp; Top 10s </td>
                                                                      </tr>
                                                                      <tr>
                                                                      <td style="width: 122px;">&nbsp; Games Played  </td>
                                                                      <td style="width: 133px;">&nbsp;  Losses   </td>
                                                                      </tr>
                                                                      <tr>
                                                                        <td style="width: 122px;">&nbsp; Amount of time played     </td>
                                                                          <td style="width: 133px;">&nbsp; Longest Survival Time     </td>
                                                                          </tr>
                                                                          <tr>
                                                                          <td style="width: 122px;">&nbsp;  Team Revives: </td>
                                                                          <td style="width: 133px;">&nbsp;Friendly Fire Kills: </td>
                                                                          </tr>
                                                                          <tr>
                                                                           <td style="width: 122px;">&nbsp; Survival Time  </td>
                                                                           <td style="width: 133px;">&nbsp; Weapons Acquired  </td>
                                                                           </tr>
                                                                           <tr>
                                                                           <td style="width: 122px;">&nbsp;Distance Travelled in Vehicle </td>
                                                                           <td style="width: 133px;">&nbsp; Distance Travelled Swimming  </td>
                                                                           </tr>
                                                                           <tr>
                                                                            <td style="width: 122px;">&nbsp;Drugs used </td>
                                                                            <td style="width: 133px;">&nbsp; Healing items used   </td>
                                                                           </tr>
                                                                      </tbody>
                                                                      </table>


                                                                  
                                                                  </div>
                                                                  </div>

                                                                
                                                                </mat-tab>










                    </mat-tab-group>
                    </div>











