.seasons-stats  {

    margin: 0 11px;
    border: 1px solid #9e9e9e;
    border-radius: 8px;
    color: #ffffff;
    width: inherit; 
    padding: 18px!important;
   
} 


.inner-table-wrapper {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    width: 1241px!important;
} 

.rank-number {
    
    font-size: small;
    margin-top: -9px;
}

.rank-title {
    margin-top: 10px;
    font-weight: 500;
}

.rank-image {

    margin-top: -11px;
}

p .ng-star-inserted.no-rank {
    color: #EACD32;
    font-size: small;
    padding-bottom: 9px;
} 

div.no-ranks {
    color: red;
}

/*
p.no-rank {     
    */



    
/*  Progress Bar */

.progress-reward-bar-wrapper {
    margin-left: 1.19791667vw;
    width: 15.625vw;
    display: inline-flex;
}

.progress-bar {
background-color: #fdc914; /*rgb(253, 201, 20);*/
height: 100%;

}


.progress-bar-wrapper {
background-color: grey; /*rgba(255, 255, 255, 0.25);*/
height: 6px; /*1.462963vh;*/  /*.46296296vh;*/
width: 100%;
margin-bottom: .92592593vh; 
}