

    <!-- <p *ngIf="player?.data?.attributes?.bestRankPoint > player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints">Best Rank Point</p> -->

  

<div class="seasons-stats" [ngSwitch]="player?.data?.attributes?.gameModeStats['solo-fpp'].rankPointsTitle">

      <div *ngIf="player"> 
      <p *ngIf="player && player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints == player?.data?.attributes?.bestRankPoint && player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  > 0">Best Rank Point</p> </div>


      <!------* START BEGINNER TITLES ------->
      <div *ngSwitchCase="'1-5'">
           <span>
          <div class="rank-title">Beginner V</div> 
           <img class="rank-img" src="../../assets/Emblems/emblem-beginner-5.png" width="146px">
           <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints | json}} / 200 </div>  
           
           </span>
           </div>

 <!--Beginner 1-4-->
      <div *ngSwitchCase="'1-4'">
      <span>
      <div class="rank-title">Beginner IV</div>
      <img class="rank-img" src="../../assets/Emblems/emblem-beginner-4.png" width="146px">
      <div class="rank-number"> {{ player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 400 </div>
  
      <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
                  <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 200) / (400 - 200) * 100)"> </div>
            </div>  
            </div>
      </span>
      </div>


<!--- Beginner 1-3 --->
      <div *ngSwitchCase="'1-3'">
            <span>
            <div class="rank-title">Beginner III</div>
            <img class="rank-img" src="../../assets/Emblems/emblem-beginner-3.png" width="146px">
            <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed()  }} / 600 </div>

            <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 400) / (600 - 400) * 100)"> </div>
                  </div>  
                  </div>

            </span>
            </div>

  <!-- Beginner 1-2 --->
      <div *ngSwitchCase="'1-2'">
           <span>
            <div class="rank-title">Beginner II</div>
           <img class="rank-img" src="../../assets/Emblems/emblem-beginner-2.png" width="146px">
           <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 800 </div>

           <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 600) / (800 - 600) * 100)"> </div>
                  </div>  
                  </div>
           
           </span>
           </div>

 <!--- Beginner 1-1 --->
      <div *ngSwitchCase="'1-1'">
           <span>
          <div class="rank-title">Beginner I</div>
           <img class="rank-img" src="../../assets/Emblems/emblem-beginner-1.png" width="146px">
           <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 1000 </div>

           <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 800) / (1000 - 800) * 100)"> </div>
                  </div>  
                  </div>
         
           </span>
           </div>




   <!-- Silver Novice 5-->
      <div *ngSwitchCase="'2-5'">
          <span>
      <div class="rank-title">Novice V</div>
          <img class="rank-img" src="../../assets/Emblems/emblem-novice-5.png" width="146px">
         <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 1200 </div>

         <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 1000) / (1200 - 1000) * 100)"> </div>
                  </div>  
                  </div>
      </span>
        </div>

   <!--Silver Novice 4 -->
        <div *ngSwitchCase= "'2-4'">
                  <span>
                  <div class="rank-title"> Novice IV </div>
                  <img class="rank-img" src="../../assets/Emblems/emblem-novice-4.png" width="146px">
                 <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 1400 </div>

                 <div class="progress-reward-bar-wrapper">
                  <div class="progress-bar-wrapper">
                  <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 1200) / (1400 - 1200) * 100)"> </div>
                        </div>  
                        </div>

                 
                 
              </span>
                </div>

   <!-- Silver 3-->
        <div *ngSwitchCase="'2-3'">
                  <span>
                  <div class="rank-title"> Novice IV </div>
                  <img class="rank-img" src="../../assets/Emblems/emblem-novice-3.png" width="146px">
                  <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 1600 </div>

                  <div class="progress-reward-bar-wrapper">
                        <div class="progress-bar-wrapper">
                        <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 1400) / (1600 - 1400) * 100)"> </div>
                              </div>  
                              </div>
                  </span>
                  </div>


       <!---- Silver  2 ------>

        <div *ngSwitchCase="'2-2'">
                   <span>
                   <div class="rank-title"> Novice IV </div>
                   <img class="rank-img" src="../../assets/Emblems/emblem-novice-2.png" width="146px">
                   <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 1800 </div>  

                   <div class="progress-reward-bar-wrapper">
                        <div class="progress-bar-wrapper">
                        <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 1600) / (1800 - 1600) * 100)"> </div>
                              </div>  
                              </div>
                   </span>
                   </div>



         <!--Silver 1-->

          <div *ngSwitchCase="'2-1'">
                   <span>
                   <div class="rank-title"> Novice IV </div>
                   <img class="rank-img" src="../../assets/Emblems/emblem-novice-1.png" width="146px">
                   <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 2000 </div>

                   <div class="progress-reward-bar-wrapper">
                        <div class="progress-bar-wrapper">
                        <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 1800) / (2000 - 1800) * 100)"> </div>
                              </div>  
                              </div>
                  
                   </span>
                   </div>


              <!--** Silver End** -->


              <!----Experienced 5---->

          <div *ngSwitchCase="'3-5'">
          <span>
          <div class="rank-title"> Experienced V </div>
          <img class="rank-img" src="../../assets/Emblems/emblem-experienced-5.png" width="146px">
          <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 2200 </div>

          <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 2000) / (2200 - 2000) * 100)"> </div>
                  </div>  
                  </div>
         
          </span>
          </div>



          <div *ngSwitchCase="'3-4'">
               <span>
               <div class="rank-title"> Experienced IV </div>
               <img class="rank-img" src="../../assets/Emblems/emblem-experienced-4.png" width="146px">
               <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 2400 </div>  

               <div class="progress-reward-bar-wrapper">
                  <div class="progress-bar-wrapper">
                  <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 2200) / (2400 - 2200) * 100)"> </div>
                        </div>  
                        </div>
               </span>
               </div>


            <div *ngSwitchCase="'3-3'">
                  <span>
                  <div class="rank-title"> Experienced III </div>
                  <img class="rank-img" src="../../assets/Emblems/emblem-experienced-3.png" width="146px">
                  <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 2600 </div>

                  <div class="progress-reward-bar-wrapper">
                        <div class="progress-bar-wrapper">
                        <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 2400) / (2600 - 2400) * 100)"> </div>
                              </div>  
                              </div>
                  
                  </span>
                  </div>


            <div *ngSwitchCase="'3-2'">
                 <span>
                 <div class="rank-title"> Experienced II </div>
                 <img class="rank-img" src="../../assets/Emblems/emblem-experienced-2.png" width="146px">
                 <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 2800 </div> 

                 <div class="progress-reward-bar-wrapper">
                  <div class="progress-bar-wrapper">
                  <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 2600) / (2800 - 2600) * 100)"> </div>
                        </div>  
                        </div>
                 </span>
                 </div>


            <div *ngSwitchCase="'3-1'">
                 <span>
                 <div class="rank-title"> Experienced I </div>
                  <img class="rank-img" src="../../assets/Emblems/emblem-experienced-1.png" width="146px">
                  <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 3000 </div>

                  <div class="progress-reward-bar-wrapper">
                        <div class="progress-bar-wrapper">
                        <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 2800) / (3000 - 2800) * 100)"> </div>
                              </div>  
                              </div>
                 
                  </span>
                  </div>


          <!--** SKILLED V BEGIN **-->


<div *ngSwitchCase="'4-5'">
     <span>
     <div class="rank-title"> Skilled V </div>
     <img class="rank-img" src="../../assets/Emblems/emblem-skilled-5.png" width="146px">
     <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 3200 </div>
     
     <div class="progress-reward-bar-wrapper">
      <div class="progress-bar-wrapper">
      <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 3000) / (3200 - 3000) * 100)"> </div>
            </div>  
            </div>
     </span>
     </div>

<div *ngSwitchCase="'4-4'">
     <span>
     <div class="rank-title"> Skilled IV </div>
     <img class="rank-img" src="../../assets/Emblems/emblem-skilled-4.png" width="146px">
     <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 3400 </div>

     <div class="progress-reward-bar-wrapper">
      <div class="progress-bar-wrapper">
      <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 3200) / (3400 - 3200) * 100)"> </div>
            </div>  
            </div>
    
     </span>
     </div>


<div *ngSwitchCase="'4-3'">
     <span>
     <div class="rank-title"> Skilled III </div>
     <img class="rank-img" src="../../assets/Emblems/emblem-skilled-3.png" width="146px">
     <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 3600 </div> 
     
     <div class="progress-reward-bar-wrapper">
      <div class="progress-bar-wrapper">
      <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 3400) / (3600 - 3400) * 100)"> </div>
            </div>  
            </div>
     </span>
     </div>



<div *ngSwitchCase="'4-2'">
     <span>
     <div class="rank-title"> Skilled II </div>
     <img class="rank-img" src="../../assets/Emblems/emblem-skilled-2.png" width="146px">
     <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 3800 </div>

     <div class="progress-reward-bar-wrapper">
      <div class="progress-bar-wrapper">
      <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 3600) / (3800 - 3600) * 100)"> </div>
            </div>  
            </div>
    
     </span>
     </div>


<div *ngSwitchCase="'4-1'">
     <span>
    <div class="rank-title"> Skilled I </div>
     <img class="rank-img" src="../../assets/Emblems/emblem-skilled-1.png" width="146px">
     <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 4000 </div>

     <div class="progress-reward-bar-wrapper">
      <div class="progress-bar-wrapper">
      <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 3800) / (4000 - 3800) * 100)"> </div>
            </div>  
            </div>
    
     </span>
     </div>


    <!----**  Specialist V Start    **---->

<div *ngSwitchCase="'5-5'">
      <span>
      <div class="rank-title"> Specialist V </div>
      <img class="rank-img" src="../../assets/Emblems/emblem-specialist-5.png" width="146px">
      <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 4200 </div>

      <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 4000) / (4200 - 4000) * 100)"> </div>
                  </div>  
                  </div>
      
      </span>
      </div>


<div *ngSwitchCase="'5-4'">
      <span>
      <div class="rank-title"> Specialist IV </div>
      <img class="rank-img" src="../../assets/Emblems/emblem-specialist-4.png" width="146px">
      <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 4400 </div>

      <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 4200) / (4400 - 4200) * 100)"> </div>
                  </div>  
                  </div>
      
      </span>
      </div>


<div *ngSwitchCase="'5-3'">
      <span>
      <div class="rank-title"> Specialist III </div>
      <img class="rank-img" src="../../assets/Emblems/emblem-specialist-3.png" width="146px">
      <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 4600 </div>

      <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 4400) / (4600 - 4400) * 100)"> </div>
                  </div>  
                  </div>
      
      </span>
      </div>



<div *ngSwitchCase="'5-2'">
      <span>
      <div class="rank-title"> Specialist II </div>
      <img class="rank-img" src="../../assets/Emblems/emblem-specialist-2.png" width="146px">
      <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 4800 </div>

      <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 4600) / (4800 - 4600) * 100)"> </div>
                  </div>  
                  </div>
     
      </span>
      </div>


<div *ngSwitchCase="'5-1'">
      <span>
     <div class="rank-title"> Specialist I </div>
      <img class="rank-img" src="../../assets/Emblems/emblem-specialist-5.png" width="146px">
      <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 5000 </div>

      <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 4800) / (5000 - 4800) * 100)"> </div>
                  </div>  
                  </div>
      </span>
      </div>



 <!--** EXPERT **-->
<div *ngSwitchCase="'6-0'">
      <span>
      <div class="rank-title"> Expert </div>
      <img class="rank-img" src="../../assets/Emblems/emblem-expert.png" width="146px">
      <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }} / 6000 </div>

      <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="Math.floor((player?.data?.attributes?.gameModeStats['solo-fpp'].rankPoints  - 5000) / (6000 - 5000) * 100)"> </div>
                  </div>  
                  </div>
      
      </span>
      </div>

<!---** SURVIVOR **--->

<div *ngSwitchCase="'7-0'">
      <span>
      <div class="rank-title"> Survivor </div>
      <img class="rank-img" src="../../assets/Emblems/emblem-expert.png" width="146px">
      <div class="rank-number"> {{player?.data?.attributes?.gameModeStats["solo-fpp"].rankPoints.toFixed() }}  </div>

      <div class="progress-reward-bar-wrapper">
            <div class="progress-bar-wrapper">
            <div class="progress-bar" [style.width.%]="100"> </div>
                  </div>  
                  </div>
    
      </span>
      </div>


    

        <div *ngSwitchDefault>
                <span>
            <p class="no-rank">No Rank</p>
             <img class="rank-img" src="../../assets/Emblems/medal-untitled.png" width="146px"> </span>   
          </div> 





      </div>