<div class="page"> 
<div class="searchArea">

<div>  
<img src="../../assets/helm3.png" style="max-height:132px;">
</div>
<div class="label-container"> 
<p style="color: #9a9a9a!important; font-size: 14px; padding-top: 8px;">
Find player stats 
</p>

<div class="label"> 
      <form (ngSubmit)="search()" ngNativeValidate autocomplete="off" class="the-form" style="background-color: #17181a;" 
      >

      <mat-form-field>   
        <mat-select name="select" id="select"  [(ngModel)]="selected">            
        <mat-option value="xbox">Xbox</mat-option>
        <mat-option value="steam">Steam</mat-option>    
        </mat-select>   
      </mat-form-field> 

        <input class="input" name="player"
             [(ngModel)]="searchString"
             placeholder="case sensitive"
             required
             #nameSearch="ngModel" 
             [(ngModel)]="ID"
             
             
            
             >
             
             <button (click)="search()" 
               class="btn" type="button" [disabled]="!nameSearch.valid"> Search </button> 
       </form>
       </div>
      </div>

      <div class="copyright"> <p> © PUBG People <br>
        2020
        </p> </div>
      </div>
    </div> 




